body {
  font-family: "Poppins", sans-serif;
  background-color: #f7f8fa;
  margin: 0;
  padding: 0;
}

.navbar {
  background: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  align-items: center;
}

.nav-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

.page-content {
  padding: 20px;
}