html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #ecf4f2; /* Light gray background */
}

a {
  color: inherit;
}